<div id="myBody" style="padding-left: 35px">
  <div class="w3-twothird w3-container">
    <h1 class="w3-text-deep-orange">List of Accounts</h1>
    <ul>
        {{#each accounts as |account|}}
            <li style="margin: 10px"><a href="" {{action 'toggle' account.Name}}>{{account.Name}}</a></li>
        {{/each}}
    </ul>
  </div>
  {{#if enabled}}
    <div class="w3-twothird w3-container">
        <h1 class="w3-text-deep-orange">{{selectedAccount}} Details</h1>
        <ul>
            {{#each accountList as |account|}}
                <li style="margin: 10px"><strong>Office: </strong>{{account.Office}}</li>
                <li style="margin: 10px"><strong>Address: </strong>{{account.Address}}</li>
                <li style="margin: 10px"><strong>Phone: </strong>{{account.Phone}}</li>                    
            {{/each}}
        </ul>
        <div>
            {{#link-to "contacts" (query-params Account=selectedAccount)}}View Contacts{{/link-to}}
        </div>
    </div>
  {{/if}}
</div>

{{yield}}